body {
    margin: 0;
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}


iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: none;
    /* esconde todos por padrão */
}

iframe.ativo {
    display: block;
    /* mostra apenas o ativo */
}

.controle {
    position: absolute;
    bottom: 10px;
    left: 15%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    z-index: 1000;
}

.controle button,
.controle select {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.controle button {
    background: #007bff;
    color: white;
    text-decoration: none;
}

.controle button.pausado {
    background: #dc3545;
}

.controle button a {
    color: white;
    text-decoration: none;
}
.controle select {
    background: white;
    color: black;
}